<!--<style type="text/css">
    <link rel="stylesheet" href="/css/custom.css">
</style>-->
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" >
<link rel="stylesheet" href="{{ "/css/highlight/default.css" | relURL }}">

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>


  {{ $scr := .Scratch }}
  {{ $js := site.Data.assets.js }}
  {{ if not site.IsServer }}
  {{ if site.GoogleAnalytics }}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new
 Date;
      ga('create', '{{ site.GoogleAnalytics }}', 'auto');
      {{ if site.Params.privacy_pack }}ga('set', 'anonymizeIp', true);{{ end }}
      ga('require', 'eventTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'urlChangeTracker');
      ga('send', 'pageview');
    </script>
    <script async src="//www.google-analytics.com/analytics.js"></script>

    {{ if ($scr.Get "use_cdn") }}
    {{ printf "<script async src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" (printf $js.autotrack.url $js.autotrack.version) $js.autotrack.sri | safeHTML }}
    {{ end }}
  {{ end }}
  {{ end }}

